@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../../public/code-5067826_1280.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: white;
}
