@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: rgb(94, 3, 180) rgba(128, 128, 128, 0);
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  color: white;
}
