@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-color: rgb(94, 3, 180) rgba(128, 128, 128, 0);
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

body {
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

.Home {
  font-family: "New Amsterdam", serif;
  font-weight: 400;
  font-style: normal;
}
